<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Amor na rede</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        @if (contaService.usuarioAtual()) {
        <li class="nav-item">
          <a  routerLink="/membros" routerLinkActive="active" class="nav-link">Matches</a>
        </li>
        <li class="nav-item">
          <a routerLink="/lista" routerLinkActive="active"class="nav-link">Lists</a>
        </li>
        <li class="nav-item">
          <a routerLink="/mensagens" routerLinkActive="active"class="nav-link">Mensagens</a>
        </li>
      }
      </ul>

    @if(contaService.usuarioAtual()){
      <div dropdown class="dropdown">
        <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
          Bem vindo {{contaService.usuarioAtual()?.usuario_nome}}</a>
        <div *dropdownMenu class="dropdown-menu">
          <a routerLink="/membro/editar"   class="dropdown-item">Editar perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="desconectar()">Sair</a>
        </div>
      </div>
    }
    @if (!contaService.usuarioAtual()) {
<app-login></app-login>
}

    <!-- @if (!contaService.usuarioAtual()) {
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
        <input name="usuario_nome" [(ngModel)]="model.usuario_nome"   class="form-control me-2"  placeholder="Usuário">
        <input name="usuario_sobrenome" [(ngModel)]="model.usuario_sobrenome"   class="form-control me-2"  placeholder="Sobrenome">
        <input name="senha" [(ngModel)]="model.senha"   class="form-control me-2"  placeholder="Senha" type="password">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>

    }-->
    </div>

</nav>
