<form #cadastroForm="ngForm" (ngSubmit)="cadastro()">
  <h2 class="text-center text-primary">Inscrever-se</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      name="usuario_nome"
      [(ngModel)]="model.usuario_nome"
      placeholder="Usuário"
    />
    <label>Nome</label>
  </div>
  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      name="usuario_sobrenome"
      [(ngModel)]="model.usuario_sobrenome"
      placeholder="Sobrenome"
    />
    <label>Sobrenome</label>
  </div>
  <div class="mb-3 form-floating">
    <input
      type="password"
      class="form-control"
      name="senha"
      [(ngModel)]="model.senha"
      placeholder="Senha"
    />
    <label>Senha</label>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Cadastrar</button>
    <button class="btn btn-default me-2" (click)="cancelar()" type="button">Cancelar</button>
  </div>
  
</form>
